
body{
  overflow: hidden;

}

#fotowelcome{
  width: 100%;
  height: 160%;
}

.titulo{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comenzar{
  position: absolute;
  top: 65%;
  left: 42%;
}

#go{
  width: 170px;
  height: 170px;
  background-color: #4edeee;
}

.p1{
  margin-left: 100px;
}

.fondo1{
  background-color: #f7f7f7;
  position: absolute;
  width: 90%;
  height: 85%;
  left: 5%;
  right: 5%;
  top: 8%;
  bottom: 12.5%;
  z-index: 1;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
}


.contenedor{
  position: absolute;
  width: 65%;
  height: 45%;
  left: 20%;
  top: 30%;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  background-color: #cacccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contenedorchico{
  margin-left: 55%;
  /*    padding: 10px;*/
  width: 65%;
  height: 280px;
  font-family: 'Roboto', sans-serif;
  background-color: #cacccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.presentacion{
   font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-size: 22px;
  width: 66%;
  font-style: italic;
  margin-top: 5.5%;
  left: 25%;
  top: 8%;
  position: absolute;
}

.presentador{
 top: 25%;
 position: absolute;
}

.opinion{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 24px;
  /* font-style: italic; */
  /* font-weight: bold; */
  width: 100%;
  margin-top: 3%;
  margin-left: 5.5%;
}

.dequien {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 21px;
  font-style: italic;
  width: 100%;
  margin-left: 23%;
}

.personasop{
  margin-left: 2%;
  margin-top: 4%;

}

.btn.btn-primary{
  position: absolute;
  z-index: 6;
  background-color:  #4edeee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 2px -1px 27px -10px rgba(0,0,0.75);
  font-size: 22px;
  font-weight: bold;
}

#hacertrivia{
  width: 150px;
  height: 57px;
  left: 68%;
  top: 30%;
}

h1{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}


.titulo_trivia{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
}

h3{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 54px;
  margin-top: 6%;
  margin-left: 5%;
  text-align: left;
  font-weight: bold;
}

h4{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 31px;
  margin-left: 5%;
  margin-top: 2%;
  text-align: left;
  font-weight: lighter;

}

#Ir-a-carreras{
  width: 175px;
  height: 57px;
  margin-left: 75%;
  margin-top: 2%;
  position: absolute;
  z-index: 10;
}


.btn.btn-ver{
  position: absolute;
  z-index: 10;
  width: 35%;
  height: 78px;
  margin-top: 37%;
  left: 4.5%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  box-shadow: 2px -1px 27px -10px rgba(0,0,0.75);
  font-size: 28px;
  font-weight: lighter;
  background-color: #1359cd;
  color: white;
}

.btn.btn-mit{
  position: absolute;
  z-index: 10;
  margin-top: 47%;
  width: 35%;
  height: 78px;
  left: 4.5%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  -webkit-box-shadow: 2px -1px 27px -10px rgba(0,0,0.75);
  -moz-box-shadow: 2px -1px 27px -10px rgba(0,0,0.75);
  box-shadow: 2px -1px 27px -10px rgba(0,0,0.75);
  font-size: 28px;
  font-weight: lighter;
  background-color: #1359cd;
  color: white;
}
.verdad{
  position: absolute;
  width: 25px;
  top: 198%;
  right: 95%;
}
.mito{
  position: absolute;
  width: 25px;
  top: 250%;
  right: 95%;
}
.verdad3l{
  position: absolute;
  width: 25px;
  top: 170%;
  right: 95%;
}
.mito3l{
  position: absolute;
  width: 25px;
  top: 210%;
  right: 95%;
}
.verdad4l{
  position: absolute;
  width: 25px;
  top: 127%;
  right: 95%;
}
.mito4l{
  position: absolute;
  width: 25px;
  top: 157%;
  right: 95%;
}

.trivia-sup{
  /* background-color: gray; */
  z-index: 5;
  width: 100%;
  left: 10%;
}

#T{
  text-align: center;
  z-index: 1;
}

.btn.btn-info{
  position: absolute;
  z-index: 7;
  margin-left: 68%;
  margin-top: 580px;
  width: 180px;
  height: 57px;
  font-size: 22px;
  font-weight: bold;
  background-color:  #4edeee;
  border-color: #007bff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 2px -1px 27px -10px rgba(0,0,0.75);
  -moz-box-shadow: 2px -1px 27px -10px rgba(0,0,0.75);
  box-shadow: 2px -1px 27px -10px rgba(0,0,0.75)
}

.btncarrera{
  margin-top: 5%;
}

#resultados{
 width: 180px;
 height: 57px;
 margin-top: 55%;
 margin-left: 8.9%;
 position: fixed;
 z-index: 12;
}
.titulo_trivia2{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  width: 50%;
  margin-top: 7%;
  z-index: 9;
  margin-left: 25%;
}
.ver{
  z-index: 1000;
  position: fixed;
  font-size: 50px;
}

.foto{
  position: absolute;
  z-index: 10;
  width: 30px;
  margin-left: 410px;
}

.con1{
  position: absolute;
  margin-left: 360px;
  margin-top: 200px;
}
.con2{
  position: absolute;
  margin-left: 360px;
  margin-top: 245px;
}
.con3{
  position: absolute;
  margin-left: 360px;
  margin-top: 290px;
}
.con4{
  position: absolute;
  margin-left: 360px;
  margin-top: 335px;
}
.con5{
  position: absolute;
  margin-left: 360px;
  margin-top: 380px;
}
.con6{
  position: absolute;
  margin-left: 360px;
  margin-top: 425px;
}
.con7{
  position: absolute;
  margin-left: 360px;
  margin-top: 470px;
}
.con8{
  position: absolute;
  margin-left: 360px;
  margin-top: 515px;
}
.con9{
  position: absolute;
  margin-left: 360px;
  margin-top: 560px;
}
.con10{
  position: absolute;
  margin-left: 360px;
  margin-top: 605px;
}

.grafico{
  position: absolute;
  z-index: 10;
  width: 125px;
  left: 50;
  left: 75%;
  top: 25%;
}


.explicaciontrivia{position: absolute;}
.iconostrivia{
  left: 65%;
  position: absolute;
  margin-top: 19%;
}



.fondo{
  background-color: #f7f7f7;
  position: absolute;
  width: 90%;
  height: 80%;
  left: 5%;
  right: 10%;
  top: 12.5%;
  bottom: 12.5%;
  z-index: 1;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
}
.fondo3{
  background-color: #f7f7f7;
  position: absolute;
  width: 2200px;
  height: 1600px;
  left: 5%;
  right: 5%;
  top: 8%;
  bottom: 12.5%;
  z-index: 1;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
}
.contenedor{
  position: absolute;
  width: 65%;
  height: 45%;
  left: 20%;
  top: 30%;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  background-color: #cacccc;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
}

.contenedorchicoM{
  position: absolute;
  margin-left: 55%;
  margin-top: 17%;
  width: 58%;
  height: 350px;
  font-family: 'Roboto', sans-serif;
  background-color: #DC3545cf;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
}
.contenedorchicoM p{color: white;}
.contenedorchicoV{
  margin-left: 55%;
  position: absolute;
  /* margin-top: 20%; */
  width: 58%;
  height: 350px;
  font-family: 'Roboto', sans-serif;
  background-color: #28a745a8;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
}
.contenedorchicoV p{color: white;}


#Ir-a-carreras2{
  width: 190px;
  height: 60px;
  top: 64.75%;
  position: absolute;
  z-index: 10;
  left: 70%;
}


.trivia-sup{
  /* background-color: gray; */
  z-index: 5;
  width: 100%;
  left: 10%;
}

#T{
  text-align: center;
  z-index: 1;
}



.res{
  z-index: 10;
  height: 205px;
  width: 39.4%;
  padding-left: 0;
  margin-top: 13%;
  position: absolute;
  margin-left: 53%;
  background-color: #e2e1e1;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
}

.comparo{
  position: absolute;
  background-color: #e2e1e1;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  z-index: 10;
  height: 70%;
  width: 35.2%;
  margin-left: 10%;
  margin-top: 13%;
  padding: 20px;
}
.pr h3{
  font-size: 20px;
  /* text-align: center; */
}
.comparo p{
  font-size: 20px;
  padding: 2.5px;
}
.bnml{
  width: 25px;
  position: absolute;
  margin-left: 14%;
}
.bnml10{
  width: 25px;
  position: absolute;
  margin-left: 11.5%;
}

#aciertos{
  color: #28a745;
  position: absolute;
  font-size: 65px;
  margin-left: 61%;
  margin-top: 20%;
  z-index: 10;
}


#obtuviste{
  z-index: 15;
  margin-left: 66%;
  margin-top: 15%;
  position: absolute;
  font-size: 30px;
}

.remember{
      position: absolute;
      z-index: 10;
      width: 429px;
      height: 150px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 25px;
      background-color: #e2e1e1;
      left: 52%;
      top: 51%;
      border-top-left-radius: 45px;
      border-top-right-radius: 45px;
      border-bottom-right-radius: 45px;
      border-bottom-left-radius: 45px;
}

.remember p{
font-size: 20px;
}

#Reiniciar{
  left: 55%;
  top: 64.75%;
  background-color: #dd4f5d;
  width: 135px;
  height: 60px;
}

/* la barrita pedorra <3 */
.wrap{
  position: absolute;
  margin-left: 6.3%;
  margin-top: 4.5%;
  z-index: 10;
  width: 100%;
}

.line{
  width: 500px;
  height: 10px;
  background: #d8dfe5;
  position: absolute;
  left: 0;
  top: 0;
}

.step{
  width: 0px;
  height: 10px;
  background: #4edeee;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.flag{
  display: inline-block;
  width: 23px;
  height: 23px;
  line-height: 76px;
  border-radius: 50%;
  /* text-align: center; */
  position: absolute;
  top: -8px;
  background: #4edeee;
  z-index: 10;
}

.next{
  margin-top: 1500px;
}

/*---------- menu carreras--------- */

h2{

}

.menu_carreras{
  margin-top: 92%;
}

.menu_carreras_1{
  margin-top: 30vh;
}


.carreras_principal2{
  margin-bottom: 30vh;
}

.btn{
  margin: 130px 20px;
}

.menu_lista{
  margin-left: 6%;
}
.menu_lista nav ul{
  list-style: none;
}
.menu_lista li{
  margin-top: 42px;
  margin-right: 2%;
  float: left;
  list-style:none;
}
.menu_lista li a{
  text-decoration: none;
}

#li_selected{
  margin-top: 14px;
}

.btnmenu{
  padding-top: 15px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 3px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #F7F7F7;
  -webkit-box-shadow: 2px -9px 27px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -9px 27px -11px rgba(0,0,0,0.75);
  box-shadow: 2px -9px 27px -11px rgba(0,0,0,0.75);
}

.btnmenu_selected{
  padding-top: 13px;
  padding-left: 21px;
  padding-right: 20px;
  padding-bottom: 7px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #E2E2E2;
  -webkit-box-shadow: 2px -9px 27px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -9px 27px -11px rgba(0,0,0,0.75);
  box-shadow: 2px -9px 27px -11px rgba(0,0,0,0.75);
}

.btn_title{
    font-size: 14px;
    font-family: sans-serif, roboto;
    font-weight: bold;
    padding-top: 3px;
    margin-left: -7px;
}

.fondo_carreras1{
  background: #E2E2E2;
  margin-left: 4%;
  width: 91%;
  padding-bottom: 26%;
  padding-left: 42px;
  padding-right: 42px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
}

.fondo_carreras_n{
  background-image: url(../images/nutrifondo.png);
  margin-left: 4%;
  width: 91%;
  padding-bottom: 602px;
/*    padding-bottom: 54%;*/
  padding-left: 42px;
   padding-right: 42px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
}

.fondo_carreras_m{
  background-image: url(../images/medfondo.png);
/*  background-size: 1500px;
  background-size: 1400px 900px;*/
  margin-left: 4%;
  width: 91%;
  padding-bottom: 602px;
/*    padding-bottom: 54%;*/
  padding-left: 42px;
   padding-right: 42px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
}
.fondo_carreras_e{
  background-image: url(../images/enferfondo.png);
/*  background-size: 1500px;
  background-size: 1400px 900px;*/
  margin-left: 4%;
  width: 91%;
  padding-bottom: 602px;
/*    padding-bottom: 54%;*/
  padding-left: 42px;
   padding-right: 42px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
}
.fondo_carreras_o{
  background-image: url(../images/obsfondo.png);
/*  background-size: 1500px;
  background-size: 1400px 900px;*/
  margin-left: 4%;
  width: 91%;
  padding-bottom: 602px;
/*    padding-bottom: 54%;*/
  padding-left: 42px;
   padding-right: 42px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
}
.fondo_carreras_t{
  background-image: url(../images/tpcfondo.png);
/*  background-size: 1500px;
  background-size: 1400px 900px;*/
  margin-left: 4%;
  margin-bottom: 12%;
  width: 91%;
  padding-bottom: 602px;
/*    padding-bottom: 54%;*/
  padding-left: 42px;
  padding-right: 42px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.75);
}

.titulo_icono{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 2%;
}
.titulo_icono2{
  font-family: 'Roboto', sans-serif;
  margin-top: 2%;
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
}

.menu_lista2 li{
  margin-top: 10%;
  margin-right: 3%;
  float: left;
  list-style:none;
  margin-left: 4%;
}
.menu_lista2 li a{
  text-decoration: none;
}

.titulo_carreras{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 35px;
  text-align: center;
  padding-top: 35px;
}

/*-------------POPUPS------------------*/


.btn-planestudio-n{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 85px;
    top: 125px;
    position: absolute;
    z-index: 14;
}

.btn-teoricas-n{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 85px;
    top: 300px;
    position: absolute;
    z-index: 14;
}

.btn-duracion-n{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #007bff;
    right: 404px;
    top: 76px;
    position: absolute;
    z-index: 14;
}


.btn-planestudio-m{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 85px;
    top: 125px;
    position: absolute;
    z-index: 14;
}

.btn-teoricas-m{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 80px;
    top: 310px;
    position: absolute;
    z-index: 14;
}

.btn-duracion-m{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #007bff;
    right: 404px;
    top: 76px;
    position: absolute;
    z-index: 14;
}

.btn-planestudio-e{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 85px;
    top: 125px;
    position: absolute;
    z-index: 14;
}

.btn-teoricas-e{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 85px;
    top: 300px;
    position: absolute;
    z-index: 14;
}

.btn-duracion-e{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #007bff;
    right: 404px;
    top: 76px;
    position: absolute;
    z-index: 14;
}


.btn-planestudio-o{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 85px;
    top: 125px;
    position: absolute;
    z-index: 14;
}

.btn-teoricas-o{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 85px;
    top: 300px;
    position: absolute;
    z-index: 14;
}

.btn-duracion-o{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #007bff;
    right: 404px;
    top: 76px;
    position: absolute;
    z-index: 14;
}

.btn-planestudio-t{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 85px;
    top: 125px;
    position: absolute;
    z-index: 14;
}

.btn-teoricas-t{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #007bff;
    left: 85px;
    top: 300px;
    position: absolute;
    z-index: 14;
}

.btn-duracion-t{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #007bff;
    right: 404px;
    top: 76px;
    position: absolute;
    z-index: 14;
}


.boton_cerrar{
  width: 4%;
}

.boton_cerrar img{
    width: 2.5%;
    position: absolute;
    z-index: 10;
    right: -10px;
    top: 15px;
}



.planestudios_nutricion, .teoricas_nutricion, .duracion_nutricion{
  background: #E2E2E2;
  position: absolute;
  z-index: 4;
  border-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  left: -27px;
  top: 0;
  margin-right: -3em;
  width: 105.5%;
  height: 602px;  
}

.planestudios_medicina, .teoricas_medicina, .duracion_medicina{
  background: #E2E2E2;
  position: absolute;
  z-index: 4;
  border-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  left: -27px;
  top: 0;
  margin-right: -3em;
  width: 105.5%;
  height: 602px;    
}


 .planestudios_enfermeria, .teoricas_enfermeria, .duracion_enfermeria{
  background: #E2E2E2;
  position: absolute;
  z-index: 4;
  border-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  left: -27px;
  top: 0;
  margin-right: -3em;
  width: 105.5%;
  height: 602px;     
 }

 .planestudios_obstetricia, .teoricas_obstetricia, .duracion_obstetricia{
  background: #E2E2E2;
  position: absolute;
  z-index: 4;
  border-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  left: -27px;
  top: 0;
  margin-right: -3em;
  width: 105.5%;
  height: 602px;     
 }

  .planestudios_tpc, .teoricas_tpc, .duracion_tpc{
  background: #E2E2E2;
  position: absolute;
  z-index: 4;
  border-radius: 45px;
  -webkit-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  box-shadow: 1px 16px 37px -7px rgba(0,0,0,0.10);
  left: -27px;
  top: 0;
  margin-right: -3em;
  width: 105.5%;
  height: 602px;  
 }

.pop_titulo{
  font-family: 'Roboto', sans-serif;
  color: gray;
  font-size: 25px;
  text-align: center;
}

#titulo_actived{
  color: black;
}

.duracion_icon {
	position: absolute;
	z-index: 15;
	width: 5%;
	top: 18px;
 	left: 20px;
}

.duracion_icon img {
 	width: 100%;
}

.planes_icon {
	position: absolute;
	z-index: 15;
	width: 10%;
	top: 15px;
 	left: 15px;
}

.planes_icon img {
	width: 100%;
}

.teo_icon {
	position: absolute;
	z-index: 15;
	width: 5%;
	top: 10px;
 	left: 20px;
}

.teo_icon img{
	width: 100%;
}

#Ir-a-trivia{
    width: 175px;
    height: 57px;
    right: 110px;
    top: 121vh;
    position: absolute;
    z-index: 10;
}

.submenu{
  margin-left: 160px;
  margin-top: 15px;
}
.submenu li {
  list-style: none;
  float: left;
  margin-right: 60px;
}

hr {
  margin-top: 60px;
  width: 700px;
  border-top: 2px solid rgba(0,0,0,.1);
}

.dura_box1{
    background: #F7F7F7;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 90px;
    width: 300px;
    height: 150px;
}

.dura_box2{
    background: #F7F7F7;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 90px;
    width: 300px;
    height: 150px;
}

.dura_parrafo{
    font-family: roboto, sans-serif;
    font-size: 15px;
    text-align: left;
    color: black;
    margin-left: 15px;
    padding-top: 10px;
    margin-right: 15px;
}

.anos {
  margin-left: 40%;
}

.personita{
  margin-left: 24px;
  margin-top: 15px;
}

.globo_dura1{
    background: #F7F7F7;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 90px;
    width: 300px;
    height: 150px;
}

.submenu_dura{
	position: absolute;
    z-index: 14;
    right: 90px;
    top: 60px;
}

.submenu_dura li{
  margin-top: 42px;
  float: right;
  list-style:none;
  margin-right: 25px;
}

.btn-dura{
	background: #f7f7f7;
	padding: 5px;
	border-radius:15px;
	-webkit-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
	-moz-box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
	box-shadow: 1px 1px 22px 2px rgba(0,0,0,0.45);
}
